<html lang="en">
<head>
	<style type="text/javascript" src="jquery.js" /></style>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="32px_32px.png">
</head>
<body>
	<div class="top-image">
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle custom-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    <img class="nice-bar" alt="Menu" src="hamburger.png" />
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" id="menu-pub" href="#">Profile</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" id="menu-pub" href="#">Log Out</a></li>
		  </ul>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<img class="main-image" alt="Reedly" src="reedly-banner-01.png"/>
			</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row down">
		<div class="col-md-1"></div>
		<div class="col-md-5 rss-feeds">
			<select class="rss-feed-list">
				
			</select>
			<div class="add-to-rss">
				<input type="text" id="add-to-rss-input" placeholder="Add an RSS feed to your list"/>
				<img id="add-rss-button" alt="Add RSS Feed" src="plus.png" />
			</div>
			<div id="rss-feed-article-list">
				
			</div>
		</div>
		<div class="col-md-5 stiff">
			<div class="panel-group text-center" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a id="collapseOne-head" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          Blogs
				        </a>
				        <div class="two-buttons">
				        	<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle custom-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
							    <img alt="Options" src="dots_hamburger.png" />
							  </button>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							    <li role="presentation"><a role="menuitem" tabindex="-1" id="collapseOne-pub" href="#">Publish</a></li>
							  </ul>
							</div>
				    	</div>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in not-too-tall" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body" id="collapseOne-body">
						<p class="book-intro">Select articles from the list to add to this book</p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a id="collapseTwo-head"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Tech News
				        </a>
				        <div class="two-buttons">
				        	<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle custom-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
							    <img alt="Options" src="dots_hamburger.png" />
							  </button>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							    <li role="presentation"><a role="menuitem" tabindex="-1" id="collapseTwo-pub" href="#">Publish</a></li>
							  </ul>
							</div>
				    	</div>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse not-too-tall" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body" id="collapseTwo-body">
				       	<p class="book-intro">Select articles from the list to add to this book<</p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a id="collapseThree-head" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Thesis
				        </a>
			        	<div class="two-buttons">
				        	<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle custom-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
							    <img alt="Options" src="dots_hamburger.png" />
							  </button>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							    <li role="presentation"><a role="menuitem" tabindex="-1" id="collapseThree-pub" href="#">Publish</a></li>
							  </ul>
							</div>
				    	</div>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse not-too-tall" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body" id="collapseThree-body">
				        <p class="book-intro">Select articles from the list to add to this book<</p>
				      </div>
				    </div>
				  </div>
				</div>

			<div class="add-book">
				<a href="#" id="add-book"><img alt="Add Book" src="plus.png" /></a>
			</div>	
		</div>
		
	
	</div>
	




	<script>



		var feeds = null;
		var currentFeed = null;
		var rssFeeds = new Array();
		var numberOfRSS = 1;
		//var articles = new Array();


		function inArray(id) {
			if (clicked.indexOf(id) > -1) {
				return true;
			}
			return false;
		}

		function delFromArray(id) {
			var index = clicked.indexOf(id);
			if (index > -1) {
				clicked.splice(index,1);
			}
		}

		var moveMe = function() {
			
			// If it's not in the array, then push it.
			if (!inArray("#"+this.id)) {
				clicked.push("#"+this.id);
				// We need to push it to the book.
				var content = $("label[for='"+this.id+"']").html();
				var toAdd = getNewRSS(content, this.id);
				$("#"+openedBook).append(toAdd);
				// Unbinding any previous ones and moving the new ones up.
				$(".move-up").attr('onclick','').unbind('click').on("click", moveup);
				$(".move-down").attr('onclick','').unbind('click').on("click", movedown);
			} else {
				delFromArray("#"+this.id);
				$("#"+this.id+"-"+openedBook).remove();
			}
		};

		function strip(html) {
		   var tmp = document.createElement("DIV");
		   tmp.innerHTML = html;
		   return tmp.textContent || tmp.innerText || "";
		}

		function onLoad() {

			// Getting the feeds.
			$.ajax({url:"http://127.0.0.1:3000/users/1/feeds", success:function(result){
			    feeds = result;
			    var count = 1;
			    $(".rss-feed-list").append("<option value='Everything'>All RSS Feeds</option>");
			    rssFeeds.push("Everything");
			    currentFeed = rssFeeds[0];
			    for (var rss in feeds) {
			    	rssFeeds.push(rss);
			    	$(".rss-feed-list").append("<option value='"+rss+"'>" + rss + "</option>");
			    	for (var article in feeds[rss]) {
			    			$("#rss-feed-article-list").append("<div data-rss-tag='"+rss+"' class='rss-feed-box'><input id='rss"+numberOfRSS+"' type='checkbox' class='input-check rss-side' /><label for='rss"+numberOfRSS+"'>"+feeds[rss][article]['title']+"</label>" +
			    				"<p class='article-summary'>"+strip(feeds[rss][article]['summary'])+"</p>"+
			    				"<p class='article-link'>'" + feeds[rss][article]['link'] + "'</p>" +
			    				"</div>");
			    			numberOfRSS++;
			    		}
			    }
			    $(".rss-side").on("click", moveMe);
			    }
			});
		}


		$(".rss-feed-list").change(function(e) { 
			var feedSelected = e.target.value;
			var children = $("#rss-feed-article-list").children();
			if (feedSelected == "Everything") {
				for (var i = 0; i < children.length; i++) {
					var id = children[i];
					id.style.visibility = "visible";
					id.style.height = "auto";
					id.style.padding = "20px 0px";
				}
			}
			else {
				for (var i = 0; i < children.length; i++) {
					//alert(children[i].attributes[0].value);
					var rsstag = children[i].attributes[0].value;
					if (rsstag != e.target.value) {
						var id = children[i];
						id.style.visibility = "hidden";
						id.style.height = "0px";
						id.style.padding = "0px 0px";
					} else {
						var id = children[i];
						id.style.visibility = "visible";
						id.style.height = "auto";
						id.style.padding = "20px 0px";
					}
				}
			}
		});

		window.onload = onLoad;

		var openedBook = "collapseOne";
		
		var clicked = new Array();

		function getNewRSS(content, id) {
			return "<div id='"+id+"-"+openedBook+"' class='rss-feed-box'><div class='up-down'><div class='move-up'><img alt='Up' src='arrow_article_up.png'/></div> <div class='move-down'><img alt='Down' src='arrow_article_down.png' /></div></div><label for='"+id+"-book'>"+content+"</label></div>";
		}

		$("#collapseOne-pub").on("click", function(e) {
			//var id = "#collapseOne";
			var title = $("#collapseOne-head").text().trim();
			
			var children = $("#collapseOne").children();

			var myKeyVals = [];

			for (var i = 1; i < children.length; i++) {
				var id = children[i].id.substring(0, children[i].id.indexOf("-"));
				var clickInput = $("#"+id).next().next().next().text();
				
				myKeyVals[i] = clickInput;
			}

			var toSend = {"book":{
					"title":title,
					"description":"First From Web",
					"links": myKeyVals
				}
			};

			toSend = JSON.stringify(toSend);
			//toSend = toSend.replace("\'","");

			console.log(toSend);

			$.ajax({
				type: 'POST',
				url: "/books",
				data: toSend,
				contentType: "application/json; charset=utf-8",
    			dataType: "json",
				success: function(resultData) {
					if (resultData['id'] > 0) {
						alert("Your book has been sent.");
					}
				}
			});
			
		});

		$("#collapseTwo-pub").on("click", function() {
			
			var title = $("#collapseTwo-head").text().trim();
			
			var children = $("#collapseTwo").children();

			var myKeyVals = [];

			for (var i = 1; i < children.length; i++) {
				var id = children[i].id.substring(0, children[i].id.indexOf("-"));
				var clickInput = $("#"+id).next().next().next().text();
				
				myKeyVals[i] = clickInput;
			}

			var toSend = {"book":{
					"title":title,
					"description":"First From Web",
					"links": myKeyVals
				}
			};

			toSend = JSON.stringify(toSend);
			//toSend = toSend.replace("\'","");

			console.log(toSend);

			$.ajax({
				type: 'POST',
				url: "/books",
				data: toSend,
				contentType: "application/json; charset=utf-8",
    			dataType: "json",
				success: function(resultData) {
					if (resultData['id'] > 0) {
						alert("Your book has been sent.");
					}
				}
			});
		});

		$("#add-rss-button").on("click", function(e) {
			var url = document.getElementById('add-to-rss-input').value;

			$.ajax({
				type: 'POST',
				url: "/users/1/update_feeds?feed="+url,
				success: function(resultData) {
					if (resultData['id'] > 0) {
						$.ajax({url:"http://127.0.0.1:3000/users/1/feeds", success:function(result){
					    feeds = result;
					    rssFeeds = new Array();
					    numberOfRSS = 1;
					    $("#rss-feed-article-list").empty();
					    $(".rss-feed-list").empty();
					    document.getElementById('add-to-rss-input').value = "";
					    $(".rss-feed-list").append("<option value='Everything'>All RSS Feeds</option>");
					    rssFeeds.push("Everything");
					    currentFeed = rssFeeds[0];
					    for (var rss in feeds) {
					    	rssFeeds.push(rss);
					    	$(".rss-feed-list").append("<option value='"+rss+"'>" + rss + "</option>");
					    	for (var article in feeds[rss]) {
					    			$("#rss-feed-article-list").append("<div data-rss-tag='"+rss+"' class='rss-feed-box'><input id='rss"+numberOfRSS+"' type='checkbox' class='input-check rss-side' /><label for='rss"+numberOfRSS+"'>"+feeds[rss][article]['title']+"</label>" +
					    				"<p class='article-summary'>"+strip(feeds[rss][article]['summary'])+"</p>"+
					    				"<p class='article-link'>'" + feeds[rss][article]['link'] + "'</p>" +
					    				"</div>");
					    			numberOfRSS++;
					    		}
					    }
					    $(".rss-side").on("click", moveMe);
					    }
					});
					}
				}
			});
		});

		$("#collapseThree-pub").on("click", function() {
			
			var title = $("#collapseThree-head").text().trim();
			
			var children = $("#collapseThree").children();

			var myKeyVals = [];

			for (var i = 1; i < children.length; i++) {
				var id = children[i].id.substring(0, children[i].id.indexOf("-"));
				var clickInput = $("#"+id).next().next().next().text();
				
				myKeyVals[i] = clickInput;
			}

			var toSend = {"book":{
					"title":title,
					"description":"First From Web",
					"links": myKeyVals
				}
			};

			toSend = JSON.stringify(toSend);
			//toSend = toSend.replace("\'","");

			console.log(toSend);

			$.ajax({
				type: 'POST',
				url: "/books",
				data: toSend,
				contentType: "application/json; charset=utf-8",
    			dataType: "json",
				success: function(resultData) {
					if (resultData['id'] > 0) {
						alert("Your book has been sent.");
					}
				}
			});
		});

		$("#accordion").on("shown.bs.collapse", function(e) {
			openedBook = e.target.id;
			clicked = new Array();
			for (var i = 1; i <= numberOfRSS; i++) {

				// If the openedBook does not contain a div named rss.
				if (!($("#"+openedBook).find("#rss"+i+"-"+openedBook).length)) {
					$("#rss"+i).prop('checked', false);
				} else {
					$("#rss"+i).prop('checked', true);
					clicked.push("#rss"+i);
				}
			}
		});

		var moveup = function(e) {
			var id = e.target.parentNode.parentNode.parentNode.id;
			var parentId = e.target.parentNode.parentNode.parentNode.parentNode.id;
			var children = $("#"+parentId).children();
			var divToMoveLocation = 0;

			for (var i = 0; i < children.length; i++) {
				//alert(children[i].id);
				if (children[i].id == id) {
					divToMoveLocation = i;
					break;
				}
			}
			if (children.length > 2) {
				// We can potentially move up.
				if (children[1].id != id) {
					var oldId = children[divToMoveLocation-1].id;
					var newId = children[divToMoveLocation].id;

					// We are not the first in the row.					
					var oldChild = children[divToMoveLocation-1].innerHTML;
					children[divToMoveLocation-1].innerHTML = children[divToMoveLocation].innerHTML;
					children[divToMoveLocation].innerHTML = oldChild;

					children[divToMoveLocation].id = oldId;
					children[divToMoveLocation-1].id = newId;
					// Unbinding any previous ones and moving the new ones up.
					$(".move-up").attr('onclick','').unbind('click').on("click", moveup);
					$(".move-down").attr('onclick','').unbind('click').on("click", movedown);
				}
			}

		}

		var movedown = function(e) {
			var id = e.target.parentNode.parentNode.parentNode.id;
			var parentId = e.target.parentNode.parentNode.parentNode.parentNode.id;
			var children = $("#"+parentId).children();
			var divToMoveLocation = 0;

			for (var i = 0; i < children.length; i++) {
				//alert(children[i].id);
				if (children[i].id == id) {
					divToMoveLocation = i;
					break;
				}
			}
			if (children.length > 2) {
				// We can potentially move up.
				if (children[length].id != id) {
					var oldId = children[divToMoveLocation+1].id;
					var newId = children[divToMoveLocation].id;

					// We are not the last in the row.
					var oldChild = children[divToMoveLocation+1].innerHTML;
					children[divToMoveLocation+1].innerHTML = children[divToMoveLocation].innerHTML;
					children[divToMoveLocation].innerHTML = oldChild;

					children[divToMoveLocation].id = oldId;
					children[divToMoveLocation+1].id = newId;
					// Unbinding any previous ones and moving the new ones up.
					$(".move-up").attr('onclick','').unbind('click').on("click", moveup);
					$(".move-down").attr('onclick','').unbind('click').on("click", movedown);
				}
			}
		}

	</script>
	<footer>
	</footer>
</body>
</html>