// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.down {
	padding-top:20px;
}

.main-title {
	text-align:center;
}

.side-booklet {
	position:absolute;
	top:200px;
	height:300px;
	right:0px;
	text-align:left;
}


#Content {
    width: 100%;
}
#RightMenu {
    position: fixed;
    height: 100%;
    right: 0;
    z-index: 10;
}
#RightMenu #Tabs, #RightMenu #Menus {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
}
#RightMenu #Tabs {
    position: absolute;
    white-space: nowrap;
    top: 0;
    right: 100%;
    text-align: right;
    -webkit-transform-origin: 100% 100%;
    -webkit-transform: rotate(-90deg);
    transform-origin: 100% 100%;
    transform: rotate(-90deg);
}
#RightMenu #Tabs > li {
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    width:80px;
    transform:rotate(180deg);
    text-align:center;
    z-index:200;
}

.side-menu
{
    width: 400px;
    position: fixed;
	right: 0px;
	top: 290px;
	list-style:none;
}

.side-menu li
{
    white-space: nowrap;
}

.main-image {
	width:100%;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: -35px;
}

.stiff {
	position:fixed;
	right:8.3%;
}

.rss-feeds {
	background-color:rgb(243,107,42);
	border-radius: 3px;
	margin-top:50px;
}

.rss-feed-box {
	border-bottom: 1px solid black;
	padding-top:20px;
	padding-bottom:20px;
}


/* Base for label styling */
/* Just moving the regular checkbox out of there. */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}


[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
/* Just the regular checkbox */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 20px; height: 20px;
  /*border: 1px solid #aaa;
  background: #f8f8f8;*/
  border-radius: 3px;
  background-color:white;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}

/* checked mark aspect */
/* The checkbox checked */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 20px; height: 20px;
  /*border: 1px solid #aaa;
  /*background: #f8f8f8;*/
  border-radius: 3px;
  background-color:rgb(206, 32, 41);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

label {
	padding-top: 3px;
}

.on-side {
	width:200px;

}

.custom-button {
	padding:0;
	background-color:rgba(0,0,0,0);
	border:none;
	padding-right:5px;
}

.two-buttons {
	display:inline-flex;
	float:right;
}

.rss-feed-list {
	position:absolute;
	top:-50px;
	width:100%;
	left:0;
}

.rss-feed-list {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.rss-feed-list select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.rss-feed-list select:focus {
    outline: none;
}

.up-down {
	width:auto;
	float: left;
	left: 0;
	margin-left: 20px;
	margin-right: -20px;
}

.book-intro {
	border-bottom:1px solid black;
	padding-bottom:20px;
}

.not-too-tall {
	max-height:300px;
	overflow:auto;
}

.article-summary {
	width:100%;
	overflow: hidden;
	line-height:1.2em;
	height:3.6em;
	text-overflow: ellipsis;
}

.article-link {
	visibility: hidden;
	height:0px;
}

.add-book {
	padding: 3px;
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 43px;
}

.top-image {
	right: 117px;
	position: absolute;
	top: 15px;
	border-radius: 3px;
}

.nice-bar {
	border-radius:3px;
}

.add-to-rss {
	position: absolute;
	top: -28px;
	width: 100%;
	left: 0;
}

.add-to-rss > input {
	width: 95%;	
}

.add-to-rss > img {
	width: 20px;
	height: 20px;
}